<h3>F.I.R.E Goals</h3>
<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Description</th>
      <th>Retirement Age</th>
      <th>Required Portfolio</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let fire of fireTypes">
      <td>{{ fire.name }}</td>
      <td>{{ fire.description }}</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
  </tbody>
</table>
<p style="color: #888;">(Calculations and details to be implemented)</p>
